.safe-margin-bottom.portrait {
  margin-bottom: 30;
}

.safe-margin-bottom.landscape {
  margin-bottom: 20;
}

.safe-margin-left.landscape {
  margin-left: 40;
}

.safe-margin-right.landscape {
  margin-right: 40;
}

.safe-padding-bottom.portrait {
  padding-bottom: 30;
}

.safe-padding-bottom.landscape {
  padding-bottom: 20;
}

.safe-padding-left.landscape {
  padding-left: 40;
}

.safe-padding-right.landscape {
  padding-right: 40;
}
